<div id="search-component">
    <label for="search-box">Hero Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />

<!-- heroes$ convention indicates this is an observable not an array -->
<!-- ngFor can't operate on observables unless we use | async subscribes automatically so we don't have to do it in this component's class -->
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" >
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
  </div>
